/*  Estilos generales  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}
body{
    background: #aeddfe;
    color: black;
}
#LogoMka{
    height: 80px;
    width: 80px;
}
/* --- Barra Superior --- */
.barra_superior{
    position: sticky;
    top: 0;
    margin-left: 300px;
    width: calc(100% - 300px);
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);;
}
.interfaz_principal{
    margin-left: 300px;
    width: calc(100% - 300px);
    padding: 20px 40px;
    min-height: calc(100vh - 70px);
}
.desp_contenido{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
}
.contenido_central{
    flex: 3;
    max-width: 70%;
    min-width: 60%;
}
.interfaz_opc_ad{
    flex: 1;
    min-width: 300px;
    max-width: 350px;
}
.titulo_pag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 25px;
}
.tit_principal{
    font-size: 2.7em;    color: #033684;
}
.tit_secundario{
    font-size: 1.6em;    color: #005fa3;
}
#saludo_usuario{
    color: #0088D9;
}
.informacion_usuario{
    display: flex;
    align-items: center;
    position: relative;
}
/*Estilo del mini menu de usuario*/
.menu_desplegable_usuario{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px solid #e0e0e0;
    min-width: 200px;
    margin-top: 10px;
    z-index: 1000;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2 ease;
}
.menu_desplegable_usuario.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.menu_desplegable_usuario ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}
.menu_desplegable_usuario li {
    border-bottom: 1px solid #f0f0f0;
}
.menu_desplegable_usuario li:last-child {
    border-bottom: none;
}
.opc_usuario {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #033684;
    font-size: 1em;
    transition: background-color 0.2s ease;
}
.opc_usuario i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
    color: #00A6FF;
}
.opc_usuario:hover {
    background-color: #f5f5f5;
}
.opc_usuario.opc_salir {
    color: #d90000; 
}
.opc_usuario.opc_salir i {
    color: #d90000; 
}
.opc_usuario.opc_salir:hover {
    background-color: #fcebeb;
}
/*opciones de la barra superior*/
.icn_usuario {
    width: 38px;
    height: 38px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}
/* --- Menu Lateral ---*/
.menu_lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    background: #00A6FF; 
    color: white;
    padding: 20px 0;
    transform: translateX(0);
    opacity: 1;
    transition: width 0.35s ease, transform 0.35s ease;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.contenido_lateral {
    display: flex;
    align-items: center;
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.LogoMka {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 10px;
}
.contenido_lateral h2 {
    font-size: 1.3em;
    font-weight: bold;
    transition: opacity 0.3s ease;
}
.contenido_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contenido_menu li {
    margin: 5px 0;
}
.opc_menu {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    transition: background 0.25s ease, transform 0.25s ease;
}
.opc_menu i{
    width: 20px;
    margin-right: 15px;
    text-align: center;
}
.opc_menu.activo { 
    background-color: #ffffff;
    color: #00A6FF;
    border-radius: 8px;
    margin: 0 10px;
}
.btn_despliegue_lat {
    margin-top: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #033684;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn_despliegue_lat:hover {
    background-color: #004d99;
}
.btn_despliegue_lat i {
    transition: transform 0.3s ease; 
}
.btn_cerrar_sesion {
    margin-top: auto; 
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #033684;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
/*  --- Estilos del Botón de Hamburguesa --- */
.btn_hamburguesa {
    background-color: transparent;
    color: #00A6FF;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1100;
    padding: 5px 10px;
    transition: opacity 0.3s ease, transform 0.25s ease;
}
.menu_lateral.colapsado{
    width: 80px;
}
.menu_lateral.colapsado ~ .barra_superior,
.menu_lateral.colapsado ~ .interfaz_principal,
.menu_lateral.colapsado ~ #pie_pagina {
    margin-left: 80px !important;
    width: calc(100% - 80px) !important;
}
.menu_lateral.colapsado .contenido_lateral h2,
.menu_lateral.colapsado .contenido_menu span { 
    opacity: 0;
    width: 0;
    min-width: 0;
    margin: 0;
    overflow: hidden;
    transition: opacity 0.1s ease;
}
.menu_lateral.colapsado .contenido_lateral {
    justify-content: center; 
    padding: 20px 0; 
}
.menu_lateral.colapsado .LogoMka {
    margin-right: 0; 
    margin-left: 0; 
}
/* Rotacion del btn de Colapso */
.menu_lateral.colapsado .btn_despliegue_lat i {
    transform: rotate(180deg);
}
.menu_lateral.colapsado .opc_menu {
    padding: 12px 0;
    justify-content: center; 
}
.menu_lateral.colapsado .opc_menu i {
    margin-right: 0; /* Elimina el margen del icono */
}
.menu_lateral .opc_menu:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateX(5px);
    transition: all 0.25s ease;
}
.menu_lateral.activo {
    transform: translateX(0) !important; 
    opacity: 1 !important;
    transition: transform 0.35s ease, opacity 0.35s ease
}
/* * * * * *  Interfaz Pincipal (Main) * * * * * */
/* --- Opciones Adicionales ----*/
#lst_opciones_adicionales{
    padding: 0; 
    display: flex;
    flex-direction: column; /* Apilarlas verticalmente */
    gap: 25px;
    width: 100%;
    margin-top: 0;
}
#lst_opciones_adicionales article{
    background-color: white;
    width: 100%; 
    text-align: left; 
    padding: 20px;
    border-left: 5px solid #00A6FF;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: none;
    cursor: pointer;
}
#lst_opciones_adicionales article:hover {
    transform: scale(1.05); /* Se agranda un 5% */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
#icn_opc_adicionales{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#lst_opciones_adicionales h4{
    margin: 5px 0;
    font-size: 1.2em;
    font-weight: 600;
}
#lst_opciones_adicionales p{
    font-size: 0.9em;
    margin-top: 5px;
}
#txt_aprendizaje{
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
#txt_descripcion{
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
}
/* Animación para las tarjetas de contenidos */
.tarjeta_contenido {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.tarjeta_contenido:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
/* ----- Opciones Principales (Tecnica - Tactica) -----*/
.opc_principales{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0;
    padding: 0;
}
.fondo_opc{
    width: 100%;
    height: auto; 
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#img_fondo{
    width: 100%; /* Ocupa todo el ancho del div */
    height: auto; 
    border-radius: 25px;
    display: block;
    margin-bottom: 15px;
}
.opc_tactica h3, .opc_tecnica h3,
.opc_tactica p, .opc_tecnica p,
.opc_tactica ul, .opc_tecnica ul {
    padding: 0 15px;
    text-align: center;
}
.opc_tactica, .opc_tecnica{
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 48.5%;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.opc_tactica:hover, .opc_tecnica:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
    cursor: pointer;
}
.opc_principales a{
    display: inline-block;
    text-align: center;   
    margin: 15px auto 20px auto; 
    padding-bottom: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #0072ff;
    transition: color 0.2s ease;
}
.opc_principales a:hover {
    color: #004d99; /* Cambio de color al pasar el cursor */
}
.opc_principales h3{
    font-size: 25px;
    margin-bottom: 3px;
}
.subtitulo{
    font-size: 20px;
    margin-bottom: 15px;
}
.contenido_tactica, .contenido_tecnica{
    text-align: left;
    margin: 20px auto 0 auto; 
    padding: 0 20px; /* Espaciado interno */
    list-style-position: inside; /* Para que la viñeta no se corte */
}
.contenido_tactica li, .contenido_tecnica li {
    font-size: 1em; /* Tamaño base */
    line-height: 1.5;
    margin-bottom: 8px;
}
#desc_cont{
    text-align:justify;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
    padding-top: 15px;
}
/* ---- Acceso Rapido a Tecnica - Tactica ---- */
.opc_rapida {
    max-width: 1175px;
    margin: 40px auto;
    padding: 30px;
    background: linear-gradient(135deg, #00bfff, #004d99); 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,77,153,0.4);
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    background-size: cover; /* Ajusta el gradiente al tamaño */
    background: linear-gradient(135deg, #00bfff, #004d99, #00bfff);
    background-size: 400% 400%;
    animation: gradientMovimiento 10s ease infinite;
}
.opc_rapida h4 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
}
.opc_rapida p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 25px;
    opacity: 0.9;
}
#acceso_rapido {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#acceso_rapido a{
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    border: 2px solid white;
    background-color: white;
    color: #0072ff;
    transition: all 0.3s ease;
}
#acceso_rapido a:hover {
    background-color: #0072ff;
    color: white;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}
/* --- Pie de Pagina ---*/
#pie_pagina {
    background: #003366; /* Color más profundo */
    color: white;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    margin-left: 300px;
    width: calc(100% - 300px);
    transition: margin-left 0.35s ease, width 0.35s ease;
}
#contenido_pie_pagina {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 25px; /* Espacio entre secciones */
}
.info_principal, .enlaces_contacto, .seccion_terminos_politicas, .redes_sociales {
    flex: 1;
    min-width: 220px;
}
.info_principal{
    flex: 1.5;
    max-width: 300px;
}
#pie_pagina h3{
    font-size: 1.4em;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}
#pie_pagina h4{
    font-size: 1.1em;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
}
.info_principal p, .redes_sociales p, .dir_contacto p {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 8px;
}
.dir_contacto {
    margin-top: 20px;
}
.enlaces_contacto ul, .seccion_terminos_politicas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.enlaces_contacto li, .seccion_terminos_politicas li {
    margin-bottom: 8px;
}
.enlaces_contacto a, .seccion_terminos_politicas a {
    color: #aeddfe;
    transition: color 0.2s ease;
}
.enlaces_contacto a:hover, .seccion_terminos_politicas a:hover {
    color: #00bfff;
}
.icn_redes_sociales a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #005B99;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: transform 0.3s ease, background 0.3s ease;
}
.icn_redes_sociales a:hover {
    background-color: #00bfff;
    transform: scale(1.1);
}

.suscripcion_noticias label {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
.suscripcion_noticias input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 65%;
    font-size: 0.9em;
}
.suscripcion_noticias button {
    padding: 10px 15px;
    border: none;
    background-color: #00bfff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}
.suscripcion_noticias button:hover {
    background-color: #0088d9;
}
.msj_pie_pagina {
    text-align: center;
    padding: 15px 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    background-color: #00264d; 
    margin-top: 20px;
}
.msj_pie_pagina p {
    font-size: 14px;
    opacity: 0.7;
}
/*mini ventana de aviso proximamente*/
.aviso_prox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 25px 35px;
    border-radius: 12px;
    font-size: 1.1em;
    text-align: center;
    z-index: 2000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.aviso_prox.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
/* -- ADAPTACIÓN A MÓVIL --- */
@media (max-width: 1024px) {
    .barra_superior{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
    .barra_superior, .interfaz_principal {
        margin-left: 0; 
        width: 100%; 
    }
    .menu_desplegable_usuario {
        right: 20px; 
    }
    .menu_lateral {
        position: fixed;
        top: 70px;
        width: 300px;
        height: calc(100vh - 70px);
        left: 0;
        transform: translateX(-300px); 
        opacity: 0;
        z-index: 1000;
        padding-top: 0;
    }
    .menu_lateral.activo{
        transform: translateX(0) !important;
        opacity: 1 !important;
    }
    .menu_lateral .btn_despliegue_lat{
        display: none;
    }
    .menu_lateral .contenido_lateral{
        display: none;
    }
    .interfaz_principal{
        padding-top: 90px;
        margin-left: 0;
        width: 100%;
    }
    .desp_contenido { 
        flex-direction: column;
        gap: 20px;
    }
    .contenido_central, .interfaz_opc_ad {
        flex: auto;
        min-width: 100%;
        max-width: 100%;
    }
    .opc_principales {
        flex-direction: column;
        gap: 30px;
        padding: 0 10px;
    }
    .opc_tactica, .opc_tecnica {
        width: 100%; 
        max-width: none;
        margin: 0 auto;
    }
    .contenido_tactica, .contenido_tecnica{
        margin: 20px 20px 0 20px;
    }
    #desc_cont{
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Mostrar el botón hamburguesa en móvil */
    .btn_hamburguesa {
        display: flex;
    }
    #pie_pagina{
        margin-left: 0;
        width: 100%;
    }
}